.bloglistitem__category {
    color: #D3D3D3;
}

.blogmeta__byline p a{
    color:#fff;
}
.bloglistitem__category a:hover{
    color: #D3D3D3;
}
.bloglistitem .blogmeta__byline a{
    color: #D3D3D3;
}
