.show-list{
    color: #fff;
    &__date-header{
        text-transform: uppercase;
        font-size: rem-calc(28);
        color: white;
        border-bottom: 4px solid $primary-color;
    }

    &__show-header{
        color: white;
        font-size: rem-calc(15);
        margin: rem-calc(10 0);
    }
    &__show-img {
        display: block;
        border-radius: 3px;
    }
    &__slide{
        width: 14.3%;
    }
    &__show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid rgba(255,255,255,.1);
        background: rgba(255,255,255,.01);
        border-radius: 2px;
        margin-bottom: rem-calc(20);
        &:hover, &:focus {
            border: 1px solid rgba(255,255,255,.3);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content-inner {
        padding: rem-calc(10);
    }
    &__time-list {
        display: grid;
        grid-gap: 6px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr) ) ;
    }
    &__time{
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: rem-calc(13);
        background: darken($primary-color, 10);
        padding: rem-calc(12 0);
        text-align: center;
        text-transform: lowercase;
    }
    &__moreinfo {
        border-top: 1px solid rgba(255,255,255,.1);
        font-size: rem-calc(14);
        padding: rem-calc(10);
    }
}
