.featuredpageblock {
    background-color: transparent;
    &__title {

        & a {
            color: #fff;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
        &:after {
            background-color: #666;
        }
    }
}
.featuredpageblock__media {
    @include breakpoint(medium) {
        padding-left: 0;
    }
}
