.newsblock {
    background-color: $body-background;
    padding-bottom: 0;
}
.newsblock-title {
    color: #fff;
}
.bloglistitem {

    &__heading {
        @include breakpoint(medium) {
            font-size:rem-calc(24);
        }
    }
    &__heading a {
        color: #fff;
        &:hover, &:focus {
            color: #fff !important;
            text-decoration: underline;
        }
    }
    &__desc {
       color: rgba(255,255,255,.8);
    }
}
.bloglistitem .blogmeta__byline {
    color: rgba(255,255,255,.8);
}
