.tile-grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
}
.tile-grid .tile {
    margin: 0;
    height: auto;
    padding-bottom: 90%;
}
.staffmembers-block {
    padding-bottom: 3em;
}
.staffmembers-block .content-block-header {
    color: #fff;
    letter-spacing: 0;
}
