@font-face {
    font-family: Kollektif;
    src: url(../fonts/Kollektif.ttf);
}

@font-face {
    font-family: Kollektif;
    src: url(../fonts/Kollektif-Bold.ttf);
    font-weight: bold;
}

.series {
    display: flex;
    align-items: center;
    width: 300px;
    min-height: 300px;
    font-family:Kollektif;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
    justify-content: center;
    & span {
        z-index: 20;
        position: relative;
    }
    &:before {
        background-color: pink;
        height: 100%;
        top: 0;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        position: absolute;
        transition: all .5s ease-in-out;
        z-index: 9;
    }
    &:hover, &:focus {
        color: black;
        &:before {
            width: 100%;
        }
    }
}