body{
	background-size: cover;
	background-color: $highlight;
	background-position-y: 170px;
}

.body--dark-header .breadcrumb__anchor {
	color:#e9e9e9;
}
.main-content__container{
	background: #231f20;
	color: #fff;
	box-shadow: inset 0px 10px 13px -7px rgba(0,0,0,0.31);
}

.childpages__title{
	color: #fff;
}
.sidenav__section-title{
	color:#231f20;
}
.sidenav__link{
	color:#d4d4d4
}
.sidenav{
	background-color:#2b2627
}
.sidenav__section-title{
	color:#e9e9e9
}
.sidenav__item{
	border-bottom-color:#545454
}
.childpages__summary{
	color: #fff;
}

.childpages__link{
	border-bottom-color: #d1502f;
	color: #e9e9e9;

	&:after{
		background: #fff;
	}
}

.main-content__text p{
	color: #D3D3D3;
}

.sidenav__section-title{
	border-color: darken($highlight,10);
}



.button, input.action {
	color: #e2393e;
	background: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: rem-calc(22);
}


#uiowa-bar #uiowa-search .links a{
	color: white;
}

.background-image{
	box-shadow: inset -2px 12px 26px -10px rgba(0,0,0,0.63);
}

.bloglistitem__heading a {
	color: #D3D3D3;
}

.bloglistitem__category {
	color: #D3D3D3;
}

.blogmeta__byline p a{
	color:#fff;
}
.bloglistitem__category a:hover{
	color: #D3D3D3;
}


.bloglistitem .blogmeta__byline a{
	color: #D3D3D3;
}

.audio-player-wrapper {
  width: 425px;
  height: 75px;
  margin-bottom: 30px ;
  background-color: #353535;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

  @-moz-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-webkit-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-o-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@-ms-keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

@keyframes loadingStripes {
  0% {
    background-position: -20px; }

  100% {
    background-position: 0px; } }

.audio-player-progress {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  background-color: #005c99;
  overflow: hidden; }

.audio-player-progress.loading {
  background-image: -webkit-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, #808e97 25%, transparent 25%, transparent 50%, #808e97 50%, #808e97 75%, transparent 75%, transparent);
  background-size: 20px 20px;
  -webkit-animation: loadingStripes 700ms linear infinite;
  -moz-animation: loadingStripes 700ms linear infinite;
  -ms-animation: loadingStripes 700ms linear infinite;
  -o-animation: loadingStripes 700ms linear infinite;
  animation: loadingStripes 700ms linear infinite; }

.audio-player-progress-bar {
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  display: block;
  height: 100%;
  width: 0;
  max-width: 100%;
  background-color: #0082d8;
  border-radius: 25px; }

  .audio-player-button {
  display: block;
  position: relative;
  float: left;
  width: 45px;
  height: 45fpx;
  margin: 0 5px;
  border-radius: 55px;
  border: 3px solid #92b8d1;
  opacity: 0.8;
  cursor: pointer; }

.audio-player-button:hover {
  opacity: 1; }

.audio-player-button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  right: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  line-height: 0;
  font-size: 20px;
  color: #808e97; }

.audio-player-button.icon-pause::before {
  font-size: 18px;
  top: 1px;
  left: -15px; }

.audio-player-button.icon-backward::before {
  left: -17px; }

.audio-player-button.small {
  width: 25px;
  height: 25px;
  margin-top: 5px; }

.audio-player-button.small::before {
  font-size: 15px; }

.audio-player-button-wrappers {
  overflow: hidden;
  *zoom: 1;
  display: block;
  width: 133px;
  margin: 15px auto 0 auto; }